* {
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
  margin: 0;
}

.main{
  flex-grow: 1; /* Allow the main content to grow and push the footer to the bottom */
  background-color: #F7F5F6;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.my-container{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.my-button{
  margin-bottom: 5px;
}

.my-text{
  margin-top: 5px;
}

.category-col{
  flex:0;
  width:300px;
}

.content-col{
  flex:1;
}

.my-row{
  display:flex;
}

.myBankImage{
  width: 200px;
}

.myPromoImage{
  height: 100px;
}

.cardlistContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-list {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define card width here */
  grid-gap: 10px; /* Adjust as needed */
  max-width: 100%;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .card-list {
    justify-content: center;
  }
}

.cardContent {
  display: flex;
  flex-grow: 1;
}

.cardContent2{
  height: auto;
  width: 100%;
}